  

body {
  background-color: #B799FF;
}
ul img {
  float: left;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  height: 55px;
  padding: 2px 2px;
}
.navul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  border-radius: 70px;
  border-width: 3px;
  padding: 1.2rem 2rem;
}
#flex-will-start{
    float: left;
}
li a {
  display: block;
  font-size: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
  text-decoration: wavy;
}
li a:hover {
  background-color: #ACBCFF;
  font-size: 1.2rem;
  border-radius: 2rem;
}
li a::after {
  background-color: #00dfa2;
}
.home {
  text-align: center;
  font-family: "Pacifico", cursive;
}
#h1 {
  font-size: 100px;
  font-weight: 100;
  margin-bottom: -1px;
}
#Hero {
  color: rgb(255, 255, 255);
  padding-bottom:9rem;
  margin-bottom: 9rem;
}
#main-h2 {
  font-weight: 100;
  font-style: normal;
  flex-direction: row;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  grid-column: span 1;
  grid-row: span 1;

}
.about{
    background-color: antiquewhite;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.about>h2{
    display:flex;
    justify-content: center;
    font-size: 5rem;
    color:#a76a00;
    font-family: 'Abel', sans-serif;
    

}

.about>p{
    padding-left: 5rem;
    padding-right: 0rem;
    background: rgba(0, 255, 195, 0);
    width:600px;
    text-align: justify;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.1rem;
    padding-bottom: 0rem;
}

.profile-picture{    
    grid-row-start: span 2;
    width:400px;
    border-radius: 50px;
 
}
@media(max-width:800px)
{
  .navul{
    display: inline-block;
   
  }
    .about{
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        
    }
    .about>p{
        padding-left:0;
        margin-top:1rem;
        width:350px;
    }
.card{
  display: flex;
  
        justify-content: flex-start;
        text-align: center;
        align-items: center;
}
.card>p{
  padding-left:0;
        margin-top:1rem;
        width:350px;
}
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  grid-column: span 1;
  grid-row: span 1;

}
.card{
  display: grid;
    background-color: antiquewhite;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    
}

.card>h2{
    display:flex;
    justify-content: center;
    font-size: 5rem;
    color:#a76a00;
    font-family: 'Abel', sans-serif;
    

}

.card>p{
    
    background: rgba(0, 255, 195, 0);
    width: 700px;
    text-align: justify;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.1rem;
    padding-bottom: 0rem;
    padding-left: 2rem;
}

.card>img{    
    grid-row-start: span 3;
    width:600px;
    border-radius: 20px;
    margin-right: 1rem;
 
}
.works-h2{
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  font-size: 100px;
  background-repeat: repeat;
 background-color: #ACBCFF;
 border: 6rem;
 border-radius: 29px;
 color: bisque;
}



.hero-background {
  background-image: url(./assets/images/background.jpg);
  background-size: auto;
  background-position-y: -50px;
  background-position-x: center;
  height: 90vh;
}

.Footer-Section{
  background-color: aquamarine;
}
footer{
  background-color: beige;
  color:#a46801 ;
}